body{
  background-color: #FFF9E6;
  font-family: Montserrat, sans-serif;
  line-height: 1.42857143;
  letter-spacing: 4px;
}
.input-field input[type=text]:focus {
 border-bottom: 1px solid #523416;
 box-shadow: 0 1px 0 0 #523416;
}
div{
  background-size: cover;
}
.foto-do-jao{
  background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/6/005/018/062/2fa4810.jpg);
}
.mobile{
  display: none;
}
.bg-brown {
  background-color: #523416;
}
.bg-darkbrown {
  background-color: #291A0B;
}
.font-color-brown{
  color: #523416;
}
.canvas{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 80px;
  margin-bottom: 5%;
}
.main-painel{
  width: 100%;
  height: 35%;
  background-image: url(img/Wood-Wallpaper-20.jpg);
  background-attachment: fixed;
  padding: 25px;
}
.my-pic{
  margin-top: 20px;
  border-radius: 100%;
  width: 25%;
  height: 25%;
}
.right{
  float: right;
}
.left{
  float: left;
}
.col1, .col2, .col3, .col4, .col5, .col6 {
  padding: 15px;
}
.col1 {
  width: 14.666%;
}
.col2 {
  width: 31.333%;
}
.col3 {
  width: 48%;
}
.col4 {
  width: 68%;
}
.col5 {
  width: 81,333%;
}
.col6 {
  width: 98%;
}
.col1-sm {
  width: 14.666%;
}
.col2-sm {
  width: 31.333%;
}
.col3-sm {
  width: 48%;
}
.col4-sm {
  width: 68%;
}
.col5-sm {
  width: 81,333%;
}
.col6-sm {
  width: 98%;
}
.painel{
  background-color: white;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: justify;
  margin: 5px;
}
.card{
  padding: 0px;
  border: 0px;
  background-size: cover;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.card:hover{
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-cover-brown{
  background-color: rgba(82, 52, 22, 0.5);
  padding: 15px;
  color: white;
}
.card-cover-brown:hover{
  background-color: rgba(82, 52, 22, 0.8);
}
footer.page-footer{
  background-color: #523416;
}
.color-light-bg{
  color: #523416;
}
.link{
  color: #291A0B;
}
.link:visited{
  color: #291A0B;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
.myclass { color: #FA5858; }
@media (max-width: 1080px) {
  .col1, .col2, .col3, .col4, .col5, .col6 {
    padding: 15px;
    float: left;
    width: 100%;
  }
  .card-cover-brown{
    background-color: rgba(82, 52, 22, 0.5);
    padding: 15px;
    color: white;
  }
  .card{
    padding: 0px;
    border: 0px;
    margin: 5px;
  }
}
@media (max-width: 992px) {
  .mobile{
    display: block;
    margin: 0;
    border: 0;
  }
  .mobile-links{
    color: white;
    font-size: 14px;
  }
}
